<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>About Page</title>
</head>
<body>
<h1>This is about page</h1>
<!--    Using Fragment for insert -->
<div class="host-tag" th:insert="~{base::parent}"></div>
<!--    Using Fragment for Replace -->
<div class="host-tag" th:replace="~{base::parent}"></div>
<!--    Using Fragment with Arguments in insert -->
<div class="host-tag" th:insert="~{base::parent2('one','two')}"></div>
<!--    Using Fragment with Dynamic Content in insert -->
<!-- div as a markup will become argument in parent3 fragment -->
<div class="host-tag" th:replace="~{base::parent3(~{::p})}">
    <p>This is Dynamic Content</p>
</div>

<!-- div as html will become argument in parent3 fragment -->
<div class="host-tag" th:replace="~{base::parent3(~{::section})}">
    <section>
        <h1> Section </h1>
        <p>This is dynamic content to pass as an html in parent 3 just to test</p>
        <button>Click on dynamic content</button>
    </section>
    <p>This is Dynamic Content</p>
</div>

<!-- This testing id section will come two times because while calling parent3 and passing section above. But if we see in response we'll see
     expression div class and inside that only one time section with testing id is written -->
<div class="expression" th:insert = "${wantToPassMarkup} ? ~{base :: parent3(~{::#testing})} : ~{base :: parent2('one', 'two')}">
    <section id="testing">
        <h1>Testing Expression Worked</h1>
    </section>
</div>
</body>
</html>